
## /!\ /!\ Update .dockerignore accordingly /!\ /!\

.DS_Store
__pycache__
*.pyc
*~
\#*\#

*.rej
*.orig
*.js_*
*/dist-frontend-ghcjs/*
result
result-[0-9]*
*/result
*/result-[0-9]*
frontendJs
db
*/dist-newstyle/*
*/dist/*
