.block-level-error, .block-level-error > a {
  color: #c00;
  font-weight: bold;
}

body {
  height: 100%;
  width: 100%;
}

.app-frame {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.app-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-sidebar {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: #f5f5f5;
}

/* .ui.basic.segment sets a transparent background */
.ui.basic.segment.app-sidebar {
  background: #f5f5f5;
}

.app-header {
}

.app-content {
  flex-grow: 1;
}

.app-gutter {
  flex-grow: 1;
}

/* .ui.header > img sets a vertical-align */
.ui.header > img.app-logo {
  height: 0.74em;
  vertical-align: baseline;
}

.app-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img.credits-obsidian {
  width: 100%;
}

.telegram-setup {
  line-height: 19px;
}

.telegram-setup .error {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
}

.telegram-setup li {
  padding-bottom: 1.5em;
}

.telegram-setup p {
  padding-top: 1em;
}
